<!doctype>
<html>
        <body style="background-color:#88b04b; padding-top:15%;" align="center">
                <h1 style="color:#ffffff;"> Welcome to Zhidan & Ziquan's Squirrel Tracker App!</h1>
                <form action="map/">
                        <button type="submit">VIEW SQUIRREL SIGHTINGS ON MAP
                        </button>
                </form>
                <form action="sightings/">
                        <button type="submit">VIEW STATS FOR ALL SIGHTINGS
                        </button>
                </form>
        </body>
</html>